.forgotpasswordpage{
    width: 100%;
    padding: 109px 0px;
    .pagefield{
        width: 1056px;
        height: 467px;
        margin: auto;
        background-color: #F8F1E5;
        .titlebox{
            width: 1055px;
            height: 68px;
            padding-top: 71px;
            .titlefield{
                width: 209px;
                height: 22px;
                margin: auto;

                text-align: center;
                font-size: 16px;
                color: #708F9E;
            }
        }
        .formbox{
            width: 1053px;
            height: 103px;
            .field{
                width: 210px;
                height: 29px;
                margin: auto;
                .fieldbox{
                    width: 210px;
                    height: 29px;
                    border: 0px none;
                }
            }
        }
        .buttonbox{
            width: 1053px;
            height: 227px;
            .buttonfield{
                width: 256px;
                height: 227px;
                margin: auto;
                .actions{
                    .sendbutton{
                        width: 256px;
                        height: 34px;
                        background-color: #F9BA32;  
                        border: 0px none;                         
                    }
                }
                .link_area{
                    width: 256px;
                    height: 19px;
                    text-align: center;
                    margin-top: 67px;
                    .link{
                        font-size: 16px;
                        text-decoration: none;
                        color: #817D77;
                    }
                }
                .link{
                    width: 256px;
                    height: 19px;
                    text-align: center;

                    margin-top: 32px;
                    .link_area{
                        font-size: 16px;
                        text-decoration: none;
                        color: #817D77;
                    }
                }
            }
        }
    }
}